
header {
    flex-direction: row;
    flex-wrap: wrap;     
    justify-content: space-between;
    align-items: center;
}

.top {
    width: 100%;       
    order: 1;          
    flex-direction: row; 
    justify-content: space-between; 
    padding: 5px 50px;
}

.top .contacto {
    width: auto; 
    gap: 20px;
    order: 1;
}
.top .sociales {
    margin-bottom: 0;
    order: 2;
}

.main {
    width: 40%;        
    order: 2;         
    justify-content: left; 
    padding-left: 20px;
}

.main .titulo {
    align-items: start; 
}

.bottom {
    width: 60%;       
    order: 3;
    display: flex;         
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    
}

.bottom address {
    width: auto;
    font-size: 12px;
    background: transparent;
    text-align: center; 
    padding: 0 5px;  
}

.bottom .rayita {
    display: none;
}

.menusito {
    width: auto;   
    display: flex;    
    flex-direction: column; 
    justify-content: end; 
    gap: 2px;
    padding-left: 10px;
    
}

.menusito a {
    padding: 2px 0; 
    font-size: 14px;
    color: purple; 
    text-decoration: none;
    display: flex;
    align-items: center;
}

#uwu {
    display: flex;       
    flex-wrap: wrap;   
    gap: 20px;          
    padding: 20px;
    justify-content: space-between; 
}

.ejemplo {
    flex-basis: 48%; 
    
    max-width: none;     
    margin: 0;          
}

.ejemplo figure.casita {
    height: 220px;       
}